@import '../globals.scss';

.grid {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $BORDER_HARD;
    border-right: 1px solid $BORDER_HARD;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: blue;

    font-size: $CELL_SIZE*0.8;

    width: $CELL_SIZE;
    height: $CELL_SIZE;

    user-select: none;
    cursor: pointer;
}

.selected_cell { background-color: $SELECTED_CELL; }
.selected_region { background-color: $SELECTED_REGION; }
.selected_number { background-color: $SELECTED_NUMBER; }

.cell_static { color: $STATIC_CELL; }
.cell_solved { color: $SOLVED_CELL; }
// .cell_static { color: black; }

.cell_left_border_soft { border-left: 1px solid $BORDER_SOFT; }
.cell_top_border_soft { border-top: 1px solid $BORDER_SOFT; }
.cell_left_border_hard { border-left: 1px solid $BORDER_HARD; }
.cell_top_border_hard { border-top: 1px solid $BORDER_HARD; }