$CELL_SIZE: 60px;

$BORDER_HARD: black;
$BORDER_SOFT: #888;

// These colours should be tweaked
$SELECTED_CELL: aqua;
$SELECTED_REGION: aquamarine;
$SELECTED_NUMBER: #68c1d1;

$DEFAULT_CELL: blue;
$STATIC_CELL: black;
$SOLVED_CELL: #888;
$INVALID_CELL: red;